//importing fontawesome assets
@import "assets/fonts/fa-web-fonts-with-css/scss/fontawesome";
//@import "assets/fonts/fa-web-fonts-with-css/scss/fa-brands";
//@import "assets/fonts/fa-web-fonts-with-css/scss/fa-regular";
@import "assets/fonts/fa-web-fonts-with-css/scss/fa-solid";


// ++++++++++++++++++++++++++++
// BASE STYLES
// ++++++++++++++++++++++++++++
* {
    //margin: 0;
    //padding: 0;
    //border: 0;
    font-family:Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box; //computed dimension are restricted to w/h settings
}

html {
    //font-size: 62.5%; /* must be in root for rem units */
}

body {

}

body,
input,
button,
select,
textarea {
    margin: 0;
    padding: 0;
    background-color: #fff;

    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;

    /*overflow: hidden;*/
    /*overflow-y: auto;*/
}

header,main,section,footer {
    padding: 10px 30px;
}

footer {
    position: fixed;
    left: 75%;
    bottom: 0;
    background-color: white;
    padding: 1px 10px;
    border-radius: 10px;
}

// ++++++++++++++++++++++++++++
// APP STYLES
// ++++++++++++++++++++++++++++
.App-header {
    background-color: #222;
    height: 230px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    nav {
        a {
            color: #fff;
            margin: 10px;
        }
    }
}

// ++++++++++++++++++++++++++++
// OMDB STYLES
// ++++++++++++++++++++++++++++
main.omdb-main {

    form.searchBar {
        display: flex;
        justify-content: center;
        margin: 20px 0 0 0;

        input {
            border-radius: 8px;
            border: 0px;
            background-color: #eee;
            padding: 19px;
            font-size: large;
            width: 65%;
        }
    }

    ul.searchResults {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0px;
        flex-wrap: wrap;
        flex-basis: 20%;
        // border: 1px solid green;
        min-width: 780px;

        li {
            color: black;
            list-style: none;
            font-size: small;
            display: flex;
            border: 3px solid white;
            align-items: center;
            flex-basis: 19%;
            word-break: break-word;
            margin: 0 5px 5px 0;
            cursor: cell;
            border-radius: 23px;
            font-weight: bold;

            &:hover {
                border: 3px solid red;
                background-color: #ffc0cb6b;
            }

            &:hover p {
                color: red;
                font-weight: bold;
            }

            img {
                height: 130px;
                margin-right: 5px;
                border-radius: 20px;
                border: 1px solid #564d4d30;
            }
        }
    }

    div.contentBody {
        display: flex;
        justify-content: space-between;

        div.contentMovie {
            display: flex;
            width: 60%;

            img {
                border-radius: 10px;
                margin-right: 20px;
                align-self: flex-start;
            }

            p:nth-child(1), p:nth-child(2) {
                font-weight: bold;
                text-transform: uppercase;
            }

            p:nth-child(2) {
                font-size: small;
            }

            p:nth-child(3) {
                font-size: small;
                height: 100px;
            }

            p:nth-child(4) {
                color: red;
            }

            textarea {
                width: 100%;
                height: 200px;
                font-size: small;
                border: 0px;

                &:hover {
                    background-color: #eee;
                }
            }
        }

        ul.contentFavorites {
            width: 25%;

            li {
                font-size: small;
                list-style: none;
                line-height: 1.5em;

                &:hover, &.active {
                    list-style: circle;
                    color: red;
                    cursor: pointer;
                }
            }

            li:nth-child(1) {
                font-weight: bold;
                text-transform: uppercase;
                font-size: medium;

                &:hover {
                    list-style: none; 
                    color: inherit;
                    cursor: auto;
                }
            }
        } 
    }

    .rating {
        i:nth-child(1) {
            color: #eee;

            &:hover {
                color: red;
            }
        }
        i:nth-child(2) {
            color: #eee;

            &:hover {
                color: red;
            }
        }
        i:nth-child(3) {
            color: #eee;

            &:hover {
                color: red;
            }
        }
        i:nth-child(4) {
            color: #eee;

            &:hover {
                color: red;
            }
        }
        i:nth-child(5) {
            color: #eee;
            
            &:hover {
                color: red;
            }
        }
    }
}